---
import BaseLayout from '../../layouts/BaseLayout.astro';
import moment from 'moment';
import type { APIContext } from 'astro';

export async function getStaticPaths() {
  const fetchCategories = await fetch('http://42.192.151.130:9003/api/categories').then(res => res.json());
  // debugger;
  // 这里 return 的东西，可以在下面接收到
  const resArr = await Promise.all(
    fetchCategories.data.map(async category => {
      // 网络获取
      const fetchPosts = await fetch(`http://42.192.151.130:9003/api/posts?populate[0]=categories&populate[1]=cover&filters[categories][name][$contains]=${category.attributes.name}`).then(res => res.json());
      console.log('params', fetchPosts);
      return {
        params: { name: category.attributes.name },
        props: { fetchPosts, fetchCategories, title: category.attributes.name }
      };
    })
  );
  return resArr;
}

const { fetchPosts, fetchCategories, title } = Astro.props;
const description = 'Latest articles.';
const permalink = `${Astro.site.href}category/${title}`;
console.log('category11', fetchPosts);

// debugger;
// 按照年份分类fetchPosts
const postsByYear = {};
const postsByYearArr = [];
if (fetchPosts.data.length) {
  fetchPosts.data.forEach(post => {
    const year = moment(post.attributes.publishedAt).format('YYYY');
    if (!postsByYear[year]) {
      postsByYear[year] = [];
      postsByYearArr.push(year);
    }
    postsByYear[year].push(post);
  });
}
---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <div class="container">
    <h1>{title}</h1>
    <div class="categories-list">
      {
        fetchCategories.data.map(category => (
          <a style={{ 'font-size': category.attributes.fontSize + 'px' }} href={`/category/${category.attributes.name}`}>
            {category.attributes.name}
          </a>
        ))
      }
    </div>
    {
      postsByYearArr.length
        ? postsByYearArr.map(year => (
            <div class="year">
              <h3>{year}</h3>
              {postsByYear[year].map((post, index) => {
                const href = `/blog/${post.attributes.slug}`;
                return (
                  <div class="post-item">
                    <div class="post-item-date">{moment(post.attributes.publishedAt).format('YYYY-MM-DD')}</div>
                    <div>
                      <a href={href}>{post.attributes.title}</a>
                    </div>
                  </div>
                );
              })}
            </div>
          ))
        : null
    }
  </div>
</BaseLayout>

<style>
  .categories-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .categories-list a {
    margin-right: 10px;
    margin-bottom: 4px;
    line-height: 23px;
    white-space: nowrap;
    background-image: none;
    -webkit-text-size-adjust: none;
    text-decoration: none;
  }
  .year {
    margin: 20px 0;
  }
  .post-item {
    display: flex;
  }
  .post-item .post-item-date {
    color: var(--text-secondary);
    margin-right: 32px;
    text-transform: uppercase;
  }
  h2,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  hr {
    margin: 60px auto;
  }
</style>
