---
import BaseLayout from '../../layouts/BaseLayout.astro';
import moment from 'moment';

const title = 'Blog';
const description = 'Latest articles.';
const permalink = `${Astro.site.href}blog`;

// 本地获取
// let allPosts = await Astro.glob('../../data/blog-posts/*.md');
// 接口获取
const fetchPosts = await fetch('https://blog.admin.pointfree.cn/api/posts?populate[0]=categories&populate[1]=cover').then(res => res.json());
const fetchCategories = await fetch('https://blog.admin.pointfree.cn/api/categories').then(res => res.json());
// debugger;
// 按照年份分类fetchPosts
const postsByYear = {};
const postsByYearArr = [];
fetchPosts.data.sort((a, b) => new Date(b.attributes.publishedAt).valueOf() - new Date(a.attributes.publishedAt).valueOf()).forEach(post => {
  const year = moment(post.attributes.publishedAt).format('YYYY');
  if (!postsByYear[year]) {
    postsByYear[year] = [];
    postsByYearArr.push(year);
  }
  postsByYear[year].push(post);
})
console.log('postsByYear', postsByYear, postsByYearArr);
// allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <div class="container">
    <h1>Blog</h1>
    <div class="categories-list">
      {
        fetchCategories.data.map(category => (
          <a style={{ 'font-size': category.attributes.fontSize + 'px' }} href={`/category/${category.attributes.name}`}>
            {category.attributes.name}
          </a>
        ))
      }
    </div>
    {
      postsByYearArr.map(year => (
        <div class="year">
          <h3>{year}</h3>
          {postsByYear[year].map((post, index) => {
            const href = `/blog/${post.attributes.slug}`;
            return (
              <div class="post-item">
                <div class="post-item-date">{moment(post.attributes.publishedAt).format('YYYY-MM-DD')}</div>
                <div><a href={href}>{post.attributes.title}</a></div>
              </div>
            );
          })}
        </div>
      ))
    }
  </div>
</BaseLayout>

<style>
  .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    margin: auto;
    overflow: scroll;
  }
  .categories-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .categories-list a {
    margin-right: 10px;
    margin-bottom: 4px;
    line-height: 23px;
    white-space: nowrap;
    background-image: none;
    -webkit-text-size-adjust: none;
    text-decoration: none;
  }
  .year {
    margin: 20px 0;
  }
  .post-item {
    display: flex;
  }
  .post-item .post-item-date {
    color: var(--text-secondary);
    margin-right: 32px;
    text-transform: uppercase;
  }
  h2,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  hr {
    margin: 60px auto;
  }
</style>
